hamidexerciselooging.txt
hamidfoodlooging.txt
harryexerciselooging.txt
harryfoodlooging.txt
log.txt
manglam.txt
manglam2.txt
manglam3.txt
mylogs.txt
rohanexerciselooging.txt
rohanfoodlooging.txt
.idea
exercise.mp3
eyeexercise.mp3
water.mp3
eye exercise.mp3
tutorial40point1.cpython-38.pyc
tutorial39support.cpython-38.pyc
profiles_settings (2).xml
profiles_settings.xml
misc (2).xml
misc.xml
modules (2).xml
modules.xml
pythonprojects.iml
tuts.iml
vcs.xml
workspace (2).xml
workspace.xml
raj logs.txt
raj.txt
rajfood looging.txt
rajexercise looging.txt
ext.txt